@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.base-font {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.codespace {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
.outfit-rounded {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #275aff;
    --secondary-color: #00020d;
    --accent-color: #535353;
    --bg-color: #000000;
    --text-color: #FFFFFF;
    --muted-text-color: #B3B3B3;
    --highlight-color: #1ED760;
    --bg: #111;
    --grid-highlight: #bbb;
    --citation-bg-color: #1E0519;
    --citation-p-color: Salmon;
    --citation-a-color: MediumVioletRed;
    --citation-a-hover-color: DeepPink;
    --main-bg: #080018;
}

html {
  box-sizing: border-box;
}
* {
  font-family: "Google Sans Code", monospace;
}
body{
  margin: 0;
  padding: 0;
  background: var(--main-bg);
  transition: 0.3s ease-in;
  overflow-x: hidden;
}
body::-webkit-scrollbar{
  display: none;
}
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  will-change: transform;
  pointer-events: none;
  background: none;
  aspect-ratio: 1;
  width: 25px;
  border-radius: 50%;
  top: -12.5px;
  left: -12.5px;
  opacity: 1;
  backdrop-filter: blur(2px);
  border: 2px solid #ffffff24;
  box-shadow: 0 0 1px #FFFFFF,
              0 0 7px transparent,
              0 0 9px #ffffff;
  pointer-events: none;
  background: none;
  z-index: 10000;
}
/* .nav{
  padding:0.2rem 1rem ;
  border-bottom: 1px solid #ffffff48;
}
#body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  z-index: 1000;
}
.advertisement a{
  animation: pulse 2s infinite ease-in-out; 
}
.main{
  background: #ee00ff;
  width: 100%;
  height: 100vh;
  z-index: 1111;
}
@keyframes pulse {
  0% {
    color: #1ED760;
  }
  50% {
    color: #1ed75f6a;
  }
  100% {
    color: #1ED760;
  }
}
.btn.adv{
  padding:0.4rem 1.4rem ;
  background-color: #ee00ff;
  border: 2px solid transparent;
  animation: none;
} 
.btn.adv:hover{
  color: #ee00ff;
  background-color: transparent;
  border: 2px solid #ee00ff;
  transition:0.3s ease-in-out;
} */
.left a:hover{
  font-size: 22.5px;
  transition:0.3s ease-in-out;
}