@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.base-font {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.codespace {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
.outfit-rounded {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
  font-family: "Google Sans Code", monospace;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --main-bg: #f3e5bf;
  --text-light-black: #000000;
  --text-dark-white: #ffffff;
  --primary-bg:#000000;

  --text-highlight: #ff0000;
  --link-visited: #ff00e6;

  --card1-bg: #00ff1e;
  --card2-bg: #ff00d9;
  --card3-bg: #ffbb00;
}
html {
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background: var(--main-bg);
  transition: 0.3s ease-in;
  overflow-x: hidden;
}
body::-webkit-scrollbar{
  display: none;
}
video{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: screen;
  filter:invert(200%);
  z-index: -1;
}
.nav-links{
  text-decoration: none;
  margin: 0.15px;
    font-weight: 600;
  transition: color 0.3s ease-in-out;
  :hover{
    font-weight: 800;
    color: var(--text-highlight);
    transition: color 0.3s ease-in-out;
  }
}
#active{
  font-weight: 800;
  color: var(--text-highlight);
  transition: color 0.3s ease-in-out;
}
.body{
  backdrop-filter: blur(2.8px);
}
.card .badges .badge{
  font-weight: 700;
  padding: 0.25em 0.5em;
  border-radius: 4px;
  font-size: 0.75rem;
  animation: pulse 3s ease-in-out infinite;
}
@keyframes pulse {
  0% {
    border: 1px dashed var(--primary-bg);
  }
  50% {
    border: 1px dashed var(--main-bg);
  }
  100% {
    border: 1px dashed var(--primary-bg);
  }
}
.card{
  border: 3px dashed var(--primary-bg);
  border-radius: 20px;
  background-color: #fff5e483;
  transition: 0.3s ease-in-out;
}
.card:hover{
  filter: drop-shadow(10px 10px 1px rgba(0,0,0,0.2));
  transition: 0.3s ease-in-out;
}
.card .btn{
  border: 3px dashed transparent;
  transition: 0.3s ease-in-out;
}

.card .btn:hover{
  border: 3px dashed var(--text-dark-white);
  transition: 0.3s ease-in-out;
}
@media (max-width:635px) {
  .body{
    flex-direction: column;
  }
  .badge{
    font-size: 10px;
  }
}
.mob-nav-links{
  display: none;
  align-items: flex-start;
  position: absolute;
  text-decoration: none;
  margin: 0.15px;
  width: 100%;
  height: 0%;
  transform: translate(-45rem,0.3rem);
  background-color: #716b618c;
  font-weight: 600;
  border: 1px solid #000000;
  backdrop-filter: blur(5px);
  margin-top: 5px;
  z-index: 20;
  transition: color 0.3s ease-in-out;
}
.mob-nav .mob-nav-links a{
    padding: 0.5em 1em;
    width: 100%;
  font-size: 1.3rem;
  color: var(--text-dark-white);
}
@media (min-width:763px) {
  .mob-nav{
    display: none;
  }
}
@media (max-width:763px) {
  .nav-links{
    display: none;
  }
  .mob-nav-links{
    flex-direction: column;
    justify-content: flex-start;
  }
  .mob-nav-links.show{
    display: flex;
    height: 100%;
  }
}
@media (max-width:631px) {
  .body{
    gap: 10px;
  }
  .l{
    gap: 10px;
  }
}
@media (max-width:575px) {
  .badges{
    flex-wrap: wrap;
  }
}
@media (max-width:451px) {
  .u .btns{
    flex-wrap: wrap;
  }
}
@media (min-width:382px) {
  .mob-nav-links{
    transform: translate(-21.2rem,0rem);
  }
}